<%= render :partial => 'home/partials/header', :formats => [:html] %>


<div class="color">


	<div class="card card-inverse">
		  	<img class="card-img" src="/webapp2.png" alt="Card image" >

		  <div class="card-img-overlay">
			  
			    <p class="card-text"></p>
			 
			
		  </div>
	</div>
<br><br><br>

	<div class="secondary-text">
		<center><h2>¡Construimos tu Página Web a la Medida!</h2></center>
	</div>
<br><br>

<div class="container">
		<div class="row">
			
				 <div class="col-sm-6 col-md-3 mpdo-icons">
					 <div align="center"><img class="card-img-top" src="/storeweb.svg" id="servicesimages" alt="Card image cap"></div>
					 <h5 class="clases">Tienda Virtual</h5>
					 <hr>
					 <p class="companyweb">Incrementa las ventas de tu negocio y comienza a vender aceptando tarjetas de crédito en tu sitio web.</p>
					 
				</div>
				

					 <div class="col-sm-6 col-md-3 mpdo-icons">
					
						 <div align="center"><img class="card-img-top" src="/personalweb.svg" id="servicesimages" alt="Card image cap"></div>

						 <h5 class="clases">Personal</h5>
						 	 <hr>
						 <p class="companyweb">No importa el tipo de página web que necesites, nosotros podemos ayudarte.</p>
									
					</div>
			

						 <div class="col-sm-6 col-md-3 mpdo-icons">
							 <div align="center"><img class="card-img-top" src="/companyweb.svg" id="servicesimages" alt="Card image cap"></div>
							 	 <h5 class="clases">Corporativo</h5>
							 	 	<hr>
							  <p class="companyweb">Imponentes páginas web para que tu negocio tenga una fuerte presencia online.<p>
							  
						</div>

				 <div class="col-sm-6 col-md-3 mpdo-icons">
					 <div align="center"><img class="card-img-top" src="/medidaweb.svg" id="servicesimages" alt="Card image cap"></div>
					 <h5 class="clases">A la Medida</h5>
					 <hr>
					 <p class="companyweb">Si no encuentras lo que buscas, nosotros podemos ayudarte a crear cualquier tipo de página web.<p>
					 
				</div>


			
			

	    </div>

</div>






















<!--
<div class="article-web">
	<img src="/responsive.svg" class="imagen">
	<strong><p>Expanda su Negocio o inicie su propia pagina wed , Desarrolar un sitio wed personalizado para su empresa no debe ser visto como un gasto, sino mas bien como una inversion inteligente que ayudara a su negocio a crecer</p></strong>
</div> -->


	<br><br><br><br><br><br><br><br><br><br><br><br>



<%= render :partial => 'home/partials/footer', :formats => [:html] %>