<%= render :partial => 'home/partials/socialNetwork', :formats => [:html] %> <!-- Top header -->

  <%= render :partial => 'home/partials/mainMenu', :formats => [:html] %> <!-- Menu principal -->

 <div id="Title" >
 	<h2 align="center">Contactos</h2></div>

    <div class="container">

		<div class="row">	

				<div class="col-md-4">
				<p class="">Para tener mas informacion de unos de nuestos  servicios podra acceder a las diversas redes sociales que cuenta este sitio web la cuales le vrindaran un excelente servicio en cualquier momento que lo necesites</p>

				</div>


		

			  <div class="col-md-4">
				<p>Aqui te dejaremos todas las maneras de contactarnos 		

			</p>
		 </div>
	 </div>
	</div>


<%= render :partial => 'home/partials/footer', :formats => [:html] %> <!-- Top header -->