<%= render :partial => 'home/partials/header', :formats => [:html] %> <!-- Header -->

<br>
  <div><!-- Servicios -->
    <%= render :partial => 'home/partials/services', :formats => [:html] %> <!-- Servicios principales -->
  </div>

  <%= render :partial => 'home/partials/parallex', :formats => [:html] %> <!-- Parallex effect -->

  <!-- Footer -->
  <%= render :partial => 'home/partials/footer', :formats => [:html] %> <!-- Footer principal -->

<script type="text/javascript">
  //Add JavaScript Code here...
</script>
