<%= render :partial => 'home/partials/header', :formats => [:html] %>


			<div class="card card-inverse">
					  	<img class="card-img" src="/APPS.png" alt="Card image" >

					 	
			</div>

<br><br><br><br>

<div class="secondary-text-apps">
		<h2>¡Lleva tu empresa o tu propio proyecto a otro nivel!</h2>
		</div>
	<br><br>

<div class="container">
	<div class="row">
				<div class="col-sm-12 col-md-6 mpdo-icons">
										<h5 class="type-of-web">Empresa o negocio</h5>
									 <div align="center"><img class="app-image" src="/dealapp.png" id="appsmobile" alt="Card image cap"></div>
									 
									 <hr>
									 <p class="text-of-web"></p>
									
								   </div>



				<div class="col-sm-12 col-md-6 mpdo-icons">
										<h5 class="type-of-web">Tienda Virtual</h5>
									 <div align="center"><img class="app-image" src="/storeapp.png" id="appsmobile" alt="Card image cap"></div>
									 
									 <hr>
									 <p class="text-of-web">.</p>
									
								   </div>


				<div class="col-sm-12 col-md-6 mpdo-icons">
									 <div align="center"><img class="app-image" src="/conpanyapp.png" id="appsmobile" alt="Card image cap"></div>
									 <h5 class="type-of-web"></h5>
									 
									 <p class="text-of-web">Eleva tu empresa/negocio o tu propio proyecto con una aplicacion mobile</p>
									
								   </div>


				<div class="col-sm-12 col-md-6 mpdo-icons">
									 <div align="center"><img class="app-image" src="/fashionapp.png" id="appsmobile" alt="Card image cap"></div>
									 <h5 class="type-of-web"></h5>
									 
									 <p class="text-of-web">No limites tu negocio Incrementa las ventas y comienza a vender aceptando tarjetas de crédito.</p>
									</div>
	</div>

								
</div>







 <%= render :partial => 'home/partials/footer', :formats => [:html] %> <!-- Menu principal --