 <%= render :partial => 'home/partials/header', :formats => [:html] %> <!-- Parallex effect -->
	<div id="titleservises">
		<article>
 			<h1>Servicios</h1>
 		</article>
 	</div>
  



<div id="text2" class="text">
	
</div>



<br><br><br><br><br><br><br><br><br><br><br>
</div>

 <%= render :partial => 'home/partials/footer', :formats => [:html] %> <!-- Menu principal -->


 <script type="text/javascript">$('#text2').addClass('animated bounceOutLeft');</script>