 <%= render :partial => 'home/partials/header', :formats => [:html] %> <!-- Parallex effect -->

<div class="imageBox">
	<div id="titleservises">
		<article>
			<h1>Servicios</h1>
		</article>
	</div>
	<div class="other-services">
		<!-- -->
		<div class="container">
		<div class="row">
			<div class="col-md-4">
				<div class="card" style="width: 20rem;">
				  <div align="center"><img class="card-img-top" src="/design.svg" id="wed" alt="Card image cap"></div>
				  <div class="card-body">
				    <h4 class="card-title text-center">Apps / Sitios wed</h4>
				    <p class="card-text">Crea tu propio sitio wed para tu empresa/negocio o personal.</p>
				    <a href="/home/services/apps_web" class="btn btn-primary btn-block">Ver Mas</a>
				  </div>
				</div>
			</div>

			<div class="col-md-4">
				<div class="col-md-4">
					<div class="card" style="width: 20rem;">
					  <div align="center"><img class="card-img-top" src="/repain.svg" id="wed" alt="Card image cap"></div>
					  <div class="card-body">
					    <h4 class="card-title text-center">Reparacion de Computadoras</h4>
					    <p class="card-text">Reparacion, formateos y modificacion de tu computadora aqui. </p>
					    <a href="/home/services/repair-pc" class="btn btn-primary btn-block">Ver Mas</a>
					  </div>
					</div>
				</div>
			</div>

			<div class="col-md-4">
				
				<div class="col-md-4">
					<div class="card" style="width: 20rem;">
					  <div align="center"><img class="card-img-top" src="/software.svg" id="wed" alt="Card image cap"></div>
					  <div class="card-body">
					    <h4 class="card-title text-center">Instalacion de Sofware</h4>
					    <p class="card-text">Instalamos todo tipos de Programas o Antivirus.</p>
					    <a href="/home/services/software" class="btn btn-primary btn-block">Ver Mas</a>
					  </div>
					</div>
				</div>

			</div>


		</div>

		<div class="row">
			<div class="col-md-4">
				<div class="card" style="width: 20rem;">
				  <div align="center"><img class="card-img-top" src="/smartphone.svg" id="wed" alt="Card image cap"></div>
				  <div class="card-body">
				    <h4 class="card-title text-center">Aplicaciones Moviles</h4>
				    <p class="card-text">Lleva tu empresa/negocio en tu bolsillo o tu propio invento creandole una aplicacion movil.</p>
				    <a href="/home/services/mobile_applications" class="btn btn-primary btn-block">Ver Mas</a>
				  </div>
				</div>
			</div>


			<div class="col-md-4">
				<div class="col-md-4">
					<div class="card" style="width: 20rem;">
					  <div align="center"><img class="card-img-top" src="/SEO.svg" id="wed" alt="Card image cap"></div>
					  <div class="card-body">
					    <h4 class="card-title text-center">SEO</h4>
					    <p class="card-text">Incrementa las visitas de usuarios en tu pagina web y logra ocupar el primer puesto en los buscadores.</p>
					    <a href="/home/services/SEO" class="btn btn-primary btn-block">Ver Mas</a>
					  </div>
					</div>
				</div>
			</div>

		</div>





	
	</div>

	</div>
</div>

  






<br><br><br><br><br><br><br><br><br><br><br>

</div>

 <%= render :partial => 'home/partials/footer', :formats => [:html] %> <!-- Menu principal -->


 <script type="text/javascript">

 	$('#text2' ).addClass('animated zoomInDown');
	$('#text3' ).addClass('animated zoomInDown');
    $('#text4' ).addClass('animated zoomInDown');
    $('#text5' ).addClass('animated zoomInDown');
    $('#text6' ).addClass('animated zoomInDown');
    $('#titleservises' ).addClass('animated zoomInDown');

$('.sitioswed' ).addClass('animated zoomInDown');

</script>
<!--zoomOutLeft -->