 <%= render :partial => 'home/partials/header', :formats => [:html] %> <!-- Parallex effect -->
	<div id="titleservises">
		<article>
 			<h1>Servicios</h1>
 		</article>
 	</div>
  

<!--Primer icono SITIOS WED-->


<div class="d-flex justify-content-center">
	<div class="p-4"></div>
	<div class="p-4"></div>
	<div class="p-4">
		<img src="/app-web-icon.svg" class="rounded-img-thumbnail" height=120px width="120px"  alt="Sitios web">
		<p id="apps">Apps / Sitios web</p>
	</div>

	<div class="p-5">
	 <p class="textone">En <b class="wiedza">Wiedza</b> te ayudamos a que tu empresa de un sarto profesional diseñando su propia pagina wed , y/o emprender tu propio negocio por internet a tu estilo. </p>
	</div>
	<div class="p-6"></div>
	<div class="p-6"></div>
</div>

<!-- Proximo icono REPARACION-->

<div class="d-flex justify-content-center">
	<div class="p-4"></div>
	<div class="p-4"></div>
	<div class="p-4">
		  <img src="/pc-repair-icon.svg" class="rounded img-thumbnail" height=180px width="180px" alt="Sitios web">
		<p id="apps">Reparacion de computadoras</p>
	</div>

	<div class="p-5">
	 <p class="textone">En <b class="wiedza">Wiedza</b> Ofrecemos los mejores servicios en reparacion , mantenimiento , formateo de tu computadora </p>
	</div>
	<div class="p-6"></div>
	<div class="p-6"></div>
</div>

<!--Proximo icono APPS-->

<div class="d-flex justify-content-center">
	<div class="p-4"></div>
	<div class="p-4"></div>
	<div class="p-4">
		  <img src="/app-mobile-icon.svg" class="rounded img-thumbnail" height=220px width="220px"  alt="Aplicaciones moviles">
		<p id="apps">Apps Movile</p>
	</div>

	<div class="p-5">
	 <p class="textone">Lleva tu Empresa o tu propio proyecto en tu bolsillo, En <b class="wiedza">Wiedza</b> lo hacemos por ti , permite que todo el mundo conozca tu trabajo ,  crea tu propia aplicacion de tu empresa o personal </p>
	</div>
	<div class="p-6"></div>
	<div class="p-6"></div>
</div>
	<!--Proximo Icono SOFTWARE-->

<div class="d-flex justify-content-center">
	<div class="p-4"></div>
	<div class="p-4"></div>
	<div class="p-4">
		   <img src="/install-icon.svg" class="rounded img-thumbnail"  height=120px width="120px"  alt="SEO">
		<p id="apps">Instalacion de software</p>
	</div>

	<div class="p-5">
	 <p class="textone">Lleva tu Empresa o tu propio proyecto en tu bolsillo, En <b class="wiedza">Wiedza</b> lo hacemos por ti , permite que todo el mundo conozca tu trabajo ,  crea tu propia aplicacion de tu empresa o personal </p>
	</div>
	<div class="p-6"></div>
	<div class="p-6"></div>
</div>

<!--Proximo icono SEO-->

<div class="d-flex justify-content-center">
	<div class="p-4"></div>
	<div class="p-4"></div>
	<div class="p-4">
		        <img src="/seo-icon.svg" class="rounded img-thumbnail"  height=160px width="160px"  alt="SEO">
		<p id="apps">SEO</p>
	</div>

	<div class="p-5">
	 <p class="textone">Aumenta tu visivilidad en los buscadores con las palabras claves mas tentables para tu empresa o negocio para aumentar las visitas de usuarios a tu sitio wed </p>
	</div>
	<div class="p-6"></div>
	<div class="p-6"></div>
</div>




</div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
 <%= render :partial => 'home/partials/footer', :formats => [:html] %> <!-- Menu principal -->