 <%= render :partial => 'home/partials/header', :formats => [:html] %> <!-- Parallex effect -->

<div class="imageBox">
	<div id="titleservises">
		<article>
			<h1>Servicios</h1>
		</article>
	</div>
	<div class="other-services">
		<!-- -->
		<div class="container">
		<div class="row">
			<div class="col-md-4">
				<div class="card" style="width: 20rem;">
				  <div align="center"><img class="card-img-top" src="/design.svg" id="wed" alt="Card image cap"></div>
				  <div class="card-body">
				    <h4 class="card-title">Card title</h4>
				    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
				    <a href="#" class="btn btn-primary btn-block">Go somewhere</a>
				  </div>
				</div>
			</div>

			<div class="col-md-4">
				<div class="col-md-4">
					<div class="card" style="width: 20rem;">
					  <div align="center"><img class="card-img-top" src="/design.svg" id="wed" alt="Card image cap"></div>
					  <div class="card-body">
					    <h4 class="card-title">Card title</h4>
					    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
					    <a href="#" class="btn btn-primary btn-block">Go somewhere</a>
					  </div>
					</div>
				</div>
			</div>

			<div class="col-md-4">
				
				<div class="col-md-4">
					<div class="card" style="width: 20rem;">
					  <div align="center"><img class="card-img-top" src="/design.svg" id="wed" alt="Card image cap"></div>
					  <div class="card-body">
					    <h4 class="card-title">Card title</h4>
					    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
					    <a href="#" class="btn btn-primary btn-block">Go somewhere</a>
					  </div>
					</div>
				</div>

			</div>


		</div>
		<div class="row justify-content-md-center">
			<div class="col-md-6">
				<div class="card" style="width: 20rem;">
				  <div align="center"><img class="card-img-top" src="/design.svg" id="wed" alt="Card image cap"></div>
				  <div class="card-body">
				    <h4 class="card-title">Card title</h4>
				    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
				    <a href="#" class="btn btn-primary btn-block">Go somewhere</a>
				  </div>
				</div>
			</div>

			<div class="col-md-6">
				<div class="col-md-4">
					<div class="card" style="width: 20rem;">
					  <div align="center"><img class="card-img-top" src="/design.svg" id="wed" alt="Card image cap"></div>
					  <div class="card-body">
					    <h4 class="card-title">Card title</h4>
					    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
					    <a href="#" class="btn btn-primary btn-block">Go somewhere</a>
					  </div>
					</div>
				</div>
			</div>



		</div>
	</div>

	</div>
</div>

  
<!--
<div class="container">
	<div class="row">
		<div class="col-md-4">
			<div class="bottom1">
				<div id="text2" class="text">
					<img src="/design.svg"  id="wed" alt="pagina wed">
				</div>
					<div>
						 <p class="sitioswed">Apps / Sitios wed</p>
			    	</div>
			</div>
		</div>

		<div class="col-md-4">
			
			<div class="bottom2">
			   <div id="text3" class="text">
				   <img src="/repain.svg"  id="wed" alt="pagina wed">
			    </div>
			    <div>
					 <p class="sitioswed">Reparacion de computadoras</p>
				</div>
			</div>

		</div>

		<div class="col-md-4">
			
			<div class="bottom1">
				<div id="text4" class="text">
					<img src="/software.svg"  id="wed" alt="pagina wed">
				</div>
					<div>
						 <p class="sitioswed">Instalacion de Software</p>
			    	</div>
			</div>

		</div>



        <div class="col-md-4">
			<div class="bottom1">
				<div id="text5" class="text">
					<img src="/smartphone.svg"  id="wed" alt="pagina wed">
				</div>
					<div>
						 <p class="sitioswed">Aplicaciones Moviles</p>
			    	</div>
			</div>
		</div>

		<div class="col-md-4">
			<div class="bottom1">
				<div id="text6" class="text">
					<img src="/SEO.svg"  id="wed" alt="pagina wed">
				</div>
					<div>
						 <p class="sitioswed">SEO</p>
			    	</div>
			</div>
		</div>
	</div>
</div>

-->

</div>

 <%= render :partial => 'home/partials/footer', :formats => [:html] %> <!-- Menu principal -->


 <script type="text/javascript">

 	$('#text2' ).addClass('animated zoomInDown');
	$('#text3' ).addClass('animated zoomInDown');
    $('#text4' ).addClass('animated zoomInDown');
    $('#text5' ).addClass('animated zoomInDown');
    $('#text6' ).addClass('animated zoomInDown');
    $('#titleservises' ).addClass('animated zoomInDown');

$('.sitioswed' ).addClass('animated zoomInDown');

</script>
<!--zoomOutLeft -->