 <%= render :partial => 'home/partials/header', :formats => [:html] %> <!-- Parallex effect -->
	<div id="titleservises">
		<article>
 			<h1>Servicios</h1>
 		</article>
 	</div>
  

<div class="container">

	<div class="row">

		<div class="col-md-4">
			<div class="bottom1">
				<div id="text2" class="text">
					<img src="/design.svg"  id="wed" alt="pagina wed">
				</div>
					<div>
						 <p class="sitioswed">Apps / Sitios wed</p>
			    	</div>
			</div>
		</div>

		<div class="col-md-4">
			
			    <!--************-->
			<div class="bottom2">
			   <div id="text3" class="text">
				   <img src="/repain.svg"  id="wed" alt="pagina wed">
			    </div>
			    <div>
					 <p class="sitioswed">Reparacion de computadoras</p>
				</div>
			</div>

		</div>

		<div class="col-md-4">
			
			<div class="bottom1">
				<div id="text4" class="text">
					<img src="/software.svg"  id="wed" alt="pagina wed">
				</div>
					<div>
						 <p class="sitioswed">Instalacion de Software</p>
			    	</div>
			</div>

		</div>



        <div class="col-md-4">
			<div class="bottom1">
				<div id="text5" class="text">
					<img src="/smartphone.svg"  id="wed" alt="pagina wed">
				</div>
					<div>
						 <p class="sitioswed">Aplicaciones Moviles</p>
			    	</div>
			</div>
		</div>

		<div class="col-md-4">
			<div class="bottom1">
				<div id="text6" class="text">
					<img src="/SEO.svg"  id="wed" alt="pagina wed">
				</div>
					<div>
						 <p class="sitioswed">SEO</p>
			    	</div>
			</div>
		</div>




	</div>

</div>




      






<br><br><br><br><br><br><br><br><br><br><br>
</div>

 <%= render :partial => 'home/partials/footer', :formats => [:html] %> <!-- Menu principal -->


 <script type="text/javascript">

 	$('#text2' ).addClass('animated zoomInDown');
	$('#text3' ).addClass('animated zoomInDown');
    $('#text4' ).addClass('animated zoomInDown');
    $('#text5' ).addClass('animated zoomInDown');
    $('#text6' ).addClass('animated zoomInDown');
    $('#titleservises' ).addClass('animated zoomInDown');

$('.sitioswed' ).addClass('animated zoomInDown');

</script>
<!--zoomOutLeft -->