<%= render :partial => 'home/partials/socialNetwork', :formats => [:html] %> <!-- Top header -->

<div class="backgroundPage">

  <%= render :partial => 'home/partials/mainMenu', :formats => [:html] %> <!-- Menu principal -->

  <div class="carouselBox" align="center">
    <%= render :partial => 'home/partials/slider', :formats => [:html] %> <!-- Carousel / Slider -->
  </div>
