<div align="center"><h2>Servicios principales</h2></div>

<div class="row justify-content-md-center servicesBox" align="center">
  <div class="col-sm-4 services-icon-box">
    <div class="text-center">
      <img src="/app-web-icon.svg" class="rounded img-thumbnail" height=120px width="120px" alt="Sitios web">
    </div>
    Apps / Sitios web
  </div>
  <div class="col-sm-4 services-icon-box">
    <div class="text-center">
      <img src="/seo-icon.svg" class="rounded img-thumbnail"  height=120px width="120px"  alt="SEO">
    </div>
    SEO
  </div>
  <div class="col-sm-4 services-icon-box">
    <div class="text-center">
      <img src="/app-mobile-icon.svg" class="rounded img-thumbnail" height=120px width="120px"  alt="Aplicaciones moviles">
    </div>
    Apps móviles
  </div>
</div>
</div>
<div class="row justify-content-md-center servicesBox" align="center" >
<div class="col-sm-4 services-icon-box">
  <div class="text-center">
    <img src="/pc-repair-icon.svg" class="rounded img-thumbnail" height=120px width="120px" alt="Sitios web">
  </div>
  Reparación de computadoras
</div>
<div class="col-sm-4 services-icon-box">
  <div class="text-center">
    <img src="/install-icon.svg" class="rounded img-thumbnail"  height=120px width="120px"  alt="SEO">
  </div>
  Instalación de softwares
</div>
</div>
