<div class="sticky-top websiteAlarm" color="grey"> <!-- Website alarm -->
	<div class="d-flex flex-row-reverse">
	  <div class="p-2 socialBox"><a href="https://www.facebook.com/"><img src="/facebook-social.png" alt="facebook" width="30"><a/></a></div>
	  <div class="p-2 socialBox"><img src="/google-social.png" alt="googler"></div>
	  <div class="p-2 socialBox"><img src="/twitter-social.png" alt="twitter"></div>
	  <div class="p-2 socialBox"><img src="/whatsapp-social.png" alt="whatsapp"></div>
	</div>
</div>
