.color {
	background-color: #D8D8D8;
}


.card-title1 {
	color:black;
	font-weight:bold;
	font-family: arial;
	text-align: center;
   font-size: 60px;}

 .card-text {
  	text-align: center;
  	font-weight:bold;
  }  
	
   			
   
.clases{
color:	#0080FF;
text-align: center;
}



#servicesimages {
	height: 140px;
	width: 140px;
}

.companyweb {
	
	 color:#585858;
	 font-weight:bold;
}

.card-img {
	margin:1px;
	-webkit-box-shadow:8px 8px 8px rgba(0,0,0,0.5);
	-moz-box-shadow:8px 8px 8px rgba(0,0,0,0.5);
	box-shadow:8px 8px 8px rgba(0,0,0,0.5);
}
