#titleservises {
	font-family: monaco;
	font-size:30px;
	text-align: center;
 font-weight:bold;
           border-bottom:1px solid #4C4C4C; 
    border-top:1px solid #4C4C4C;  }

  




/*Primer boton "Apps / Sitios Wed*/
.text {
	/*fondo cris detras de la imagen*/
	height: 225px;
	width: 215px;
	border-radius: 50px;
	background-color: #E6E6E6;
	opacity: 0.9;
}

#wed {
	/*imagen*/
	height: 200px;
	width: 200px;
}

.sitioswed {
	/*texto debajo de la imagen*/
	 letter-spacing:4px;	
	 font-weight:bold;
	 margin: 10px;
	padding:10px;
}


.bottom1 {
	/*controlador del boton*/
	margin: 60px;
	padding:60px;
}





.bottom2 {
	/*controlador del boton*/
	margin: 60px;
	padding:60px;
}

.sitioswed2{
	/*texto debajo de la imagen*/
	 letter-spacing:0.1px;
	 font-weight:bold;
	 margin: 1px;
	padding:1px;
}















































.wiedza {
	color: #8A0808 }

#apps {
    	 font-weight:bold;
    	 text-align:none;
	
    }

    .textone {
    	border-bottom:1px solid #4C4C4C; /*raya abajo*/
    border-top:1px solid #4C4C4C;    /*raya arriba*/
    color:#000;					    /*color del texto*/
    font-size:20px;					/*tamaño del texto*/
    font-weight:100px;
    letter-spacing:4px;				/*espacio entre letras*/
    line-height:25px;
    padding:10px 0;
    text-transform:uppercase;
   font-weight:none;
    margin:20px ;
    padding:90px;





        }
   
 
   

hr {
  height: 0.1px;
  background-color: black;
}
    	 
    	
 #rounded-img-thumbnail {
 	position: relative ;
 	top: 90px; 
  left: 90px;
 }

 li:hover {
  margin: 0;
  padding: 0;
  background:#8A0808;

 
}
   