
.imageBox{
	background:url('/services-op2.jpg') repeat center;
}

#titleservises {
	font-family: monaco, arial, hervetica;
	font-size:30px;
	text-align: center;
 	font-weight:bold;
 	color:white;
 	background: rgba(0, 0, 0, 0.25);
}


/*Primer boton "Apps / Sitios Wed*/
.text {
	/*fondo cris detras de la imagen*/
	height: 225px ;
	width: 215px;
	border-radius: 50px;
	background-color: #E6E6E6;
	opacity: 0.9;
	border:1px solid #000;
	padding: 17px;
}

#wed {
	/*imagen*/
	height: 140px;
	width: 140px;
}

.sitioswed {
	/*texto debajo de la imagen*/
	 letter-spacing:4px;	
	 font-weight:bold;
	 margin: 10px;
	padding:10px;

}


.bottom1 {
	/*controlador del boton*/
	margin: 60px;
	padding:60px ;
}





.bottom2 {
	/*controlador del boton*/
	margin: 60px;
	padding:60px;
}

.sitioswed2{
	/*texto debajo de la imagen*/
	 letter-spacing:0.1px;
	 font-weight:bold;
	 margin: 1px;
	padding:1px;
}







li:hover {
  margin:0;
  padding: 0;
  background:#E6E6E6;
  border:1px solid #000;

 
}
   








































    
 
   

    	 
 
 